/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.card {
    display: inline-block;
    width: 300px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card .content {
    padding: 16px;
}

.card h2 {
    font-size: 18px;
    margin: 0;
}

.card p {
    font-size: 14px;
    color: #777;
    margin: 8px 0;
}
.title-text {
    justify-content: center;
    display: flex;
    color: white;
    font-size: xx-large;
}
/* image.css */

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.image-container img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.image-container button {
    margin-top: 16px;
    padding: 10px 16px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

